{% include "layouts/navbar.html" %}

{% block title %}
    <title>Content</title>
{% endblock %}

{% block content %}
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom border-primary text-dark">
            <span id="month" class="fs-4">Upload the pictures of the books you have read this month! <FONT COLOR="#ffffff"> </FONT></span>
        </header>
    </div>
    <div class="container py-4 text-light bg-success">
        <div class="container bg-secondary py-4">
            <div class="p-5 mb-4 bg-light text-dark rounded-3">
                <h2>{{ user.name }} current reads! </h2>
                <hr>
                <!--Notes input form, textarea supports multiple lines of input  -->
                <form id="upload" enctype="multipart/form-data" action = "{{url_for('content.upload')}}" method = "POST">
                    <table class="table">
                        <thead>
                        <tr>
                            <th><label for="filename">Upload a new file:</label></th>
                        </tr>
                        </thead>
                        <tbody>
                        <body style="background-image: url('/static/assets/content.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">

                        <tr>
                            <td><input type="file" id="filename" name="filename" /></td>
                            <td><input type="submit" value="Upload" ></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
                <hr>
                <!-- Add something to show what user has uploaded-->
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        {% for file in files %}
                            <tr>
                                <td><image src="{{ file }}" width="150px"></image></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<style>
    #month{
        color: #ffffff;
    }
</style>
{% endblock %}