{% extends "layouts/base.html" %}
{% block body %}
    <!DOCTYPE html>
    <body style="background-image: url('/static/assets/leaves.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="/static/assets/logo.png" style="height: 206px; width: 668px;" id="logo"/>
    <br>
    <p style id="sign" >Sign Up       |       Sign In</p>
    <style>
        body{
            color: #ffffff;
        }
        #logo{
            position: relative;
            left: 27%;
            vertical-align: middle;
        }
        #sign{
            position: relative;
            left: 27%;
            vertical-align: middle;
        }
    </style>

    </html>
{% endblock %}