{% extends "layouts/base.html" %}
{% block body %}
    <!DOCTYPE html>
    <body style="background-image: url('/static/assets/leaves.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="/static/assets/logo.png" style="height: 206px; width: 668px;" id="logo"/>
    <br>
    <br>
    <a href={{ url_for('crud.crud_login') }}>
        <p style id="sign" >Sign In</p>
    </a>
    <a href={{ url_for('crud.crud_authorize') }}>
        <p style id="sign2" >Sign Up</p>
    </a>

    <style>
        body{
            color: #ffffff;
        }
        #logo{
            position: relative;
            left: 27%;
            vertical-align: middle;
        }
        #sign{
            color: #ffffff;
            position: relative;
            left: 46%;
            vertical-align: middle;
        }
        #sign2{
            color: #ffffff;
            position: relative;
            left: 46%;
            vertical-align: middle;
        }
    </style>

    </html>
{% endblock %}