{% extends "layouts/base.html" %}
{% block body %}
<!DOCTYPE html>

<body style="background-image: url('/static/assets/blantBG.jpg'); background-attachment: fixed; background-size: cover;">
    <p id="plantbuddy">PLANT BUDDY</p>
    <img src="/static/assets/0plant.png" style="height: 350px; width: auto;" id="plantpic" />
    <p id="many">How Many Books Have You Read?</p>
    <div id="buttons">
        <button onclick="one()">1</button>
        <button onclick="two()">2</button>
        <button onclick="three()">3</button>
        <button onclick="four()">4</button>
        <button onclick="five()">5</button>
        <button onclick="six()">6</button>
        <button onclick="seven()">7</button>
        <button onclick="eight()">8</button>
        <button onclick="nine()">9</button>
        <button onclick="ten()">10</button>
        <button onclick="eleven()">11</button>
        <button onclick="twelve()">12</button>
        <button onclick="thirteen()">13</button>
        <button onclick="fourteen()">14</button>
        <button onclick="fifteen()">15</button>
        <button onclick="sixteen()">16</button>
        <button onclick="seventeen()">17</button>
        <button onclick="eighteen()">18</button>
        <button onclick="nineteen()">19</button>
    </div>
    <div id="storage">
        <br>
        <button onclick="mySave()">Save</button>
        <button onclick="myLoad()">Load</button>
    </div>
</body>

<script>
    function one(){
        document.getElementById("plantpic").src = "/static/assets/1plant.png";
    }
    function two(){
        document.getElementById("plantpic").src = "/static/assets/2plant.png";
    }
    function three(){
        document.getElementById("plantpic").src = "/static/assets/3plant.png";
    }
    function four(){
        document.getElementById("plantpic").src = "/static/assets/4plant.png";
    }
    function five(){
        document.getElementById("plantpic").src = "/static/assets/5plant.png";
    }
    function six(){
        document.getElementById("plantpic").src = "/static/assets/6plant.png";
    }
    function seven(){
        document.getElementById("plantpic").src = "/static/assets/7plant.png";
    }
    function eight(){
        document.getElementById("plantpic").src = "/static/assets/8plant.png";
    }
    function nine(){
        document.getElementById("plantpic").src = "/static/assets/9plant.png";
    }
    function ten(){
        document.getElementById("plantpic").src = "/static/assets/10plant.png";
    }
    function eleven(){
        document.getElementById("plantpic").src = "/static/assets/11plant.png";
    }
    function twelve(){
        document.getElementById("plantpic").src = "/static/assets/12plant.png";
    }
    function thirteen(){
        document.getElementById("plantpic").src = "/static/assets/13plant.png";
    }
    function fourteen(){
        document.getElementById("plantpic").src = "/static/assets/14plant.png";
    }
    function fifteen(){
        document.getElementById("plantpic").src = "/static/assets/15plant.png";
    }
    function sixteen(){
        document.getElementById("plantpic").src = "/static/assets/16plant.png";
    }
    function seventeen(){
        document.getElementById("plantpic").src = "/static/assets/17plant.png";
    }
    function eighteen(){
        document.getElementById("plantpic").src = "/static/assets/18plant.png";
    }
    function nineteen(){
        document.getElementById("plantpic").src = "/static/assets/19plant.png";
    }
    function mySave() {
        var myContent = document.getElementById("plantpic").src;
        localStorage.setItem("myContent", myContent);
    }
    function myLoad() {
        var myContent = localStorage.getItem("myContent");
        document.getElementById("plantpic").src = myContent;
    }
</script>

<style>
    #plantbuddy {
        position: relative;
        font-family: 'Helvetica';
        color: #eecc48;
        font-size: 70px;
        font-weight: 900;
        left: 35%;
    }
    #plantpic{
        position: relative;
        left: 31%;
    }
    #many{
        position: relative;
        left: 31%;
    }
    #buttons{
        position: relative;
        left: 31%;
    }
    #storage{
        position: relative;
        left: 31%;
    }
    body{
        color: #ffffff;
    }
</style>

{% endblock %}