{% extends "layouts/base.html" %}
{% block body %}
<!DOCTYPE html>

<body style="background-image: url('static/assets/blantBG.jpg'); background-attachment: fixed; background-size: cover;">
    <p id="plantbuddy">PLANT BUDDY</p>
    <img src="/static/assets/plant0.png" style="height: 350px; width: auto;" id="plantpic" />
    <p>How Many Books Have You Read?</p>
    <button onclick="one()">one</button>
    <button onclick="two()">two</button>
    <button onclick="three()">three</button>
    <button onclick="four()">four</button>
    <button onclick="five()">five</button>
    <button onclick="six()">six</button>
    <button onclick="seven()">seven</button>


</body>

<script>
    function one(){
        document.getElementById("plantpic").src = "/static/assets/plant1.png";
    }
    function two(){
        document.getElementById("plantpic").src = "/static/assets/plant2.png";
    }
    function three(){
        document.getElementById("plantpic").src = "/static/assets/plant3.png";
    }
    function four(){
        document.getElementById("plantpic").src = "/static/assets/plant4.png";
    }
    function five(){
        document.getElementById("plantpic").src = "/static/assets/plant5.png";
    }
    function six(){
        document.getElementById("plantpic").src = "/static/assets/plant6.png";
    }
    function seven(){
        document.getElementById("plantpic").src = "/static/assets/plant7.png";
    }
</script>

<style>
    #plantbuddy {
        font-size: 30px;
    }
</style>

{% endblock %}