<!DOCTYPE html>

{% extends "layouts/base.html" %}

{% block body %}

<br>
<p align="center">
        <img
                width="250"
                height=""
                src="../static/assets/playlisttitle.png">
</p>

<div class="col-md-12 text-center">
<iframe style="border-radius:12px; text-align:center; margin: 25px;"
        src="https://open.spotify.com/embed/playlist/6fPVbc2iRb5Ul8PRFDnRlP?utm_source=generator&theme=0"
        width="250" height="380" frameBorder="0" allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
</iframe>

<iframe style="border-radius:12px; text-align:center; margin: 25px;"
        src="https://open.spotify.com/embed/playlist/1S7tUm2i2yW9IGHHGYy6oP?utm_source=generator&theme=0"
        width="250" height="380" frameBorder="0" allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
</iframe>

<iframe style="border-radius:12px; text-align:center; margin: 25px;"
        src="https://open.spotify.com/embed/playlist/1NeELYrxr2fBVK3g0bTqOz?utm_source=generator"
        width="250" height="380" frameBorder="0" allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
</iframe>

<iframe style="border-radius:12px; text-align:center; margin: 25px;"
        src="https://open.spotify.com/embed/playlist/3jvd7h6ZwgpmpJkUxciyRd?utm_source=generator"
        width="250" height="380" frameBorder="0" allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
</iframe>
</div>

<br>
<p align="center">
        <img
                width="250"
                height=""
                src="../static/assets/SongsTitle.png">
</p>
<br>
    <html>
    <head>
        <title>W3.CSS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<html>
      <head>
            <style>
                div.gallery {
                    margin: 5px;
                    border: 1px solid #ccc;
                    float: left;
                    width: 180px;
                }

                div.gallery:hover {
                    border: 1px solid #777;
                }

                div.gallery img {
                    width: 100%;
                    height: auto;
                }

                div.desc {
                    padding: 15px;
                    text-align: center;
                }
            </style>
      </head>

    <body>

    <script>
    function play1() {
        audio = document.getElementById("audio1");
        audio.play();

    }

    function play2() {
        audio = document.getElementById("audio2");
        audio.play();

    }

    function play3() {
        var audio = document.getElementById("audio3");
        audio.play();

    }

    function play4() {
        var audio = document.getElementById("audio4");
        audio.play();

    }

    function play5() {
        var audio = document.getElementById("audio5");
        audio.play();

    }

    function play6() {
        var audio = document.getElementById("audio6");
        audio.play();

    }

    function play7() {
        var audio = document.getElementById("audio7");
        audio.play();

    }

    function play8() {
        var audio = document.getElementById("audio8");
        audio.play();

    }

    function play9() {
        var audio = document.getElementById("audio9");
        audio.play();
        displayText(9);

    }

    function play10() {
        var audio = document.getElementById("audio10");
        audio.play();


    }

    function play11() {
        var audio = document.getElementById("audio11");
        audio.play();


    }

    function play12() {
        var audio = document.getElementById("audio12");
        audio.play();


    }

    function play13() {
        var audio = document.getElementById("audio13");
        audio.play();


    }

    function play14() {
        var audio = document.getElementById("audio14");
        audio.play();


    }

    function play15() {
        var audio = document.getElementById("audio15");
        audio.play();
    }

    function play16() {
        var audio = document.getElementById("audio16");
        audio.play();
    }

    function play17() {
        var audio = document.getElementById("audio17");
        audio.play();
    }

    function play18() {
        var audio = document.getElementById("audio18");
        audio.play();
    }

    function play19() {
        var audio = document.getElementById("audio19");
        audio.play();
    }

    function play20() {
        var audio = document.getElementById("audio20");
        audio.play();
    }

    function play21() {
        var audio = document.getElementById("audio21");
        audio.play();
    }

    function play22() {
        var audio = document.getElementById("audio22");
        audio.play();
    }

    function play23() {
        var audio = document.getElementById("audio23");
        audio.play();
    }

    function play24() {
        var audio = document.getElementById("audio24");
        audio.play();
    }

    function play25() {
        var audio = document.getElementById("audio25");
        audio.play();

    }
    </script>

</body>

<div style="text-align: center;">
<div>
    <img src="https://i.scdn.co/image/ab67616d0000b273f21f81a1f25137212ee98df7" id="img1" onclick="play1()" height="185" width="185">
    <audio id="audio1" src="/static/assets/music/acoustic-guitars-ambient-uplifting-background-music-for-videos-5642.mp3"></audio>

    <img src="https://i.pinimg.com/564x/83/92/4e/83924eb728f9d71d1506042c2eb013ea.jpg" id="img2" onclick="play2()" height=185" width="185">
    <audio id="audio2" src="/static/assets/music/always-with-me-always-with-you-piano-long-21257.mp3"></audio>

    <img src="https://i1.sndcdn.com/artworks-000200966357-40yjx6-t500x500.jpg" id="img3" onclick="play3()" height="185" width="185">
    <audio id="audio3" src="/static/assets/music/ambient-piano-prod-by-balancebay-109400.mp3"></audio>

    <img src="https://d3qvqlc701gzhm.cloudfront.net/thumbs/2af352d412172c7f5524f9cd12d7b9804e5b6a50edc3680d1c2a4bc6069a03a4-500.jpg" id="img4" onclick="play4()" height="185" width="185">
    <audio id="audio4" src="/static/assets/music/autumn-sky-meditation-7618.mp3"></audio>

    <img src="https://www.sciencenews.org/wp-content/uploads/2009/08/10870.jpg" id="img5" onclick="play5()" height="185" width="185">
    <audio id="audio5" src="/static/assets/music/birds39-forest-20772.mp3"></audio>
</div>
    <br>
<div>
    <img src="https://i.pinimg.com/564x/65/df/76/65df76a6d841d11c8a3a0f884c3581eb.jpg" id="img6" onclick="play6()" height="185" width="185">
    <audio id="audio6" src="/static/assets/music/cinematic-fairy-tale-story-main-8697.mp3"></audio>

    <img src="https://i.pinimg.com/564x/e5/56/24/e55624a7aab12db2932795a969df5b48.jpg" id="img7" onclick="play7()" height="185" width="185">
    <audio id="audio7" src="/static/assets/music/dunbarton-meditative-ambient-soundscape-for-learning-and-relaxing-95403.mp3"></audio>

    <img src="https://i.scdn.co/image/ab67616d0000b2734c45cb898d2fe4ceacca211f" id="img8" onclick="play8()" height="185" width="185">
    <audio id="audio8" src="/static/assets/music/far-from-home-acoustic-version-13463.mp3"></audio>

    <img src="https://i.pinimg.com/564x/9e/95/6b/9e956b3e16bcef3512af53b41302118f.jpg" id="img9" onclick="play9()" height="185" width="185">
    <audio id="audio9" src="/static/assets/music/forest-lullaby-110624.mp3"></audio>

    <img src="https://i.pinimg.com/originals/e6/45/ff/e645ffba483c2784deda8cad6a2e042c.jpg" id="img10" onclick="play10()" height="185" width="185">
    <audio id="audio10" src="/static/assets/music/freezing-night-28066.mp3"></audio>
</div>
    <br>
<div>
    <img src="https://i.pinimg.com/564x/80/70/91/80709103773b559a9f1a3a8b45a27842.jpg" id="img11" onclick="play11()" height="185" width="185">
    <audio id="audio11" src="/static/assets/music/freshness-15706.mp3"></audio>

    <img src="https://i.pinimg.com/564x/15/bc/ff/15bcfff519a2a959ed923e7e00e2dfa5.jpg" id="img12" onclick="play12()" height="185" width="185">
    <audio id="audio12" src="/static/assets/music/relax-in-the-forest-background-music-for-video-9145.mp3"></audio>

    <img src="https://i.pinimg.com/564x/85/a2/1f/85a21fa6a38fea1372795fc26351167f.jpg" id="img13" onclick="play13()" height="185" width="185">
    <audio id="audio13" src="/static/assets/music/just-relax-11157.mp3"></audio>

    <img src="https://i.pinimg.com/564x/48/31/e9/4831e9440156e96eb97a1aeb7b493a68.jpg" id="img14" onclick="play14()" height="185" width="185">
    <audio id="audio14" src="/static/assets/music/loneliness-of-the-winner-110416.mp3"></audio>

    <img src="https://i.pinimg.com/564x/0c/be/44/0cbe440b0d782e70bad20789dff1c87b.jpg" id="img15" onclick="play15()" height="185" width="185">
    <audio id="audio15" src="/static/assets/music/melody-of-nature-main-6672.mp3"></audio>
</div>
    <br>
<div>
    <img src="https://data.whicdn.com/images/343473977/original.jpg" id="img16" onclick="play16()" height="185" width="185">
    <audio id="audio16" src="/static/assets/music/piano-moment-9835.mp3"></audio>

    <img src="https://secure.img1-fg.wfcdn.com/im/06136291/resize-h445%5Ecompr-r85/1274/127408023/Underscore+60%2522+x+36%2522+Drop+In+Whirlpool+Acrylic+Bathtub+with+Heater.jpg" id="img17" onclick="play17()" height="185" width="185">
    <audio id="audio17" src="/static/assets/music/moment-14023.mp3"></audio>

    <img src="https://images.freeimages.com/images/large-previews/e6b/black-accoustic-guitar-1412381.jpg" id="img18" onclick="play18()" height="185" width="185">
    <audio id="audio18" src="/static/assets/music/nelyma-acoustic-version-14368.mp3"></audio>

    <img src="https://i.pinimg.com/564x/f2/e3/7d/f2e37d0c3a91f8acea63e5e36d323f95.jpg" id="img19" onclick="play19()" height="185" width="185">
    <audio id="audio19" src="/static/assets/music/order-99518.mp3"></audio>

    <img src="https://i.pinimg.com/564x/64/31/bd/6431bd92b2d374ae7fc3cb1c8a9c7164.jpg" id="img20" onclick="play20()" height="185" width="185">
    <audio id="audio20" src="/static/assets/music/sad-piano-atmosphere-no-pad-22213.mp3"></audio>
</div>
    <br>
<div>
    <img src="https://i.pinimg.com/564x/4d/a5/26/4da526f2fba77ae168dc4067fe85383e.jpg" id="img21" onclick="play21()" height="185" width="185">
    <audio id="audio21" src="/static/assets/music/sedative-110241.mp3"></audio>

    <img src="https://i.pinimg.com/564x/4f/0e/f2/4f0ef20511b1331dba517fb2a10f5d15.jpg" id="img22" onclick="play22()" height="185" width="185">
    <audio id="audio22" src="/static/assets/music/showreel-99195.mp3"></audio>

    <img src="https://i.pinimg.com/564x/a1/05/2a/a1052ae14910d0968e80cecb23dbc5d8.jpg" id="img23" onclick="play23()" height="185" width="185">
    <audio id="audio23" src="/static/assets/music/soft-daydream-18538.mp3"></audio>

    <img src="https://i.pinimg.com/564x/f4/d4/2e/f4d42eb803b6d529b21d7216984f0492.jpg" id="img24" onclick="play24()" height="185" width="185">
    <audio id="audio24" src="/static/assets/music/spirit-blossom-15285.mp3"></audio>

    <img src="https://i.pinimg.com/564x/67/b4/a0/67b4a069cfda5c156eb7029fd39ccba2.jpg" id="img25" onclick="play25()" height="185" width="185">
    <audio id="audio25" src="/static/assets/music/summer-rain-meditation-109413.mp3"></audio>
</div>
</div>
<br>
<br>

<style>
    html, body{
    margin: 0;
    height: 100%;
    background-image:url('https://cdna.artstation.com/p/assets/images/images/002/912/766/large/dao-dao-15-day.jpg?1467191246');
    }
</style>

{% endblock %}
{% block background %}
{% endblock %}
