{% extends "layouts/base.html" %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="post">

    </div>
    {%for i in nickname%}
        <p>{{i}}</p>
    {%endfor%}
    <form action="/post" id="publish" method="POST" >
        <label for="thought">Post Your Thoughts</label>
        <input name="thought" id="thought">
        <input type="submit" value="Go!">
    </form>

    <form action="/delete" id="remove" method="POST" >
        <label>Delete Last Post</label>
        <input type="submit" value="Go!">
    </form>
</body>
</html>



{% endblock %}
{% block background %}
{% endblock %}